body{
  color: #40514E;
  margin: 0;
  text-align: center;
  /* font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; */
  font-family: 'Merriweather', serif;
  /* font-size: 2em; */
}

h1{
  /* margin-top: 50px; */
  margin: 50px auto 0 auto;
  /* width: 10%; */
  /* margin: 0 auto 0 auto;// para centrar correctamente. */
  font-family: 'Sacramento', cursive;
  /* font-size: 562.5%; */
  font-size: 5.625rem;
  color: #66BFBF;
  /* line-height: 2; */
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  /* font-size: 0.5rem; */
  color: #11999E;
}

/* div{
  background-color: #E4F9F5;
} */

.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
  /* height: 200px;
  width: 200px;
  border: solid 10px;
  padding: 20px; */
}

.middle-container{
  margin: 100px 0;
  /* height: 200px;
  width: 200px;
  background-color: red; */
  /* border: solid 20px; */
  /* margin-left: 260px; */
}

.bottom-container{
  /* height: 200px;
  width: 200px; */
  background-color: #66BFBF;
  /* border: solid 10px; */
  /* margin-left: 500px; */
  padding: 50px 0 20px;
}

.pro{
  text-decoration: underline;
}

p{
  line-height: 2;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.skill-row{
  width: 50%;
  line-height: 2;
  margin: 100px auto;
  text-align: left;
  /* margin-left: auto;
  margin-right: auto; */
}

hr{
  width: 5%;
  /* border-style: none; */
  /* border-top-style: dotted; */
  border-style: dotted none none;
  /* height: 0; */
  /* border-top: 10px dotted #EAF6F6; */
  border-width: 10px;
  border-color: #EAF6F6;
  margin: 100px auto;
}

.imagen1{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.imagen2{
  width: 25%;
  float: right;
  margin-left: 30px;
}

/* .robotica-description{
  clear: left;
}

.programacion-description{
  clear: right;
} */
.descripcion{
  width: 30%;
  margin: auto;
}

.mensaje-de-contacto{
  width: 40%;
  margin: 40px auto 60px;
}

.boton {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 100;
   padding: 20px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.boton:hover {
   border: solid #337FED 0;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4ED);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4ED);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4ED);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4ED);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4ED);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   text-decoration: none;
}
